.authform {
    position: relative;
    /*display: inline-block;*/
    width: 30vw;
    /*color: #6200EE;*/
    /*color: #03DAC6;*/
    /*color: #018786*/
    /*color: #BB86FC*/
    color: #14171A;
}

.register {
    left: 10vw;
    top: 15vh;
}

.login {
    position: absolute;
    left: 60vw;
    top: 33vh;
}

.typeoflogin {
    font-size: 270%;
    color: #14171A;
}

body {
    background-color: #1DA1F2;
}

.authTitle {
    position: relative;
    color: #F5F8FA;
    width: 50vw;
    left: 10vw;
    top: 3vh;
    font-size: 400%;
}

.authButton {
    background-color: #14171A;
    color: #F5F8FA;
    width: 5vw;
}

.authButton:hover {
    background-color: #657786;
}

.opacityControl {
    /*opacity: 0.7%;*/
    background-color: #F5F8FA;
    color: #14171A;
}

.verticalLine {
    position: absolute;
    /*display: inline-block;*/
    width: 0.1vw;
    height: 80vh;
    left: 50vw;
    top: 10vh;
    background-color: #14171A;
}

.alertRegister {
    position: absolute;
    width: 30vw;
    height: 5vh;
    left: 10vw;
    top: 18vh;
    font-size: 120%;
    padding-left: 1vw;
    padding-top: 1vh;
    color: darkred;
    background-color: #d97c7c;
}

span {
    color: #14171A;
}

.alertRegisterSuccess {
    position: absolute;
    width: 30vw;
    height: 5vh;
    left: 10vw;
    top: 18vh;
    font-size: 120%;
    padding-left: 1vw;
    padding-top: 1vh;
    color: #097036;
    background-color: #68de9b;
}

.alertLogin {
    position: absolute;
    width: 30vw;
    height: 5vh;
    left: 60vw;
    top: 25vh;
    font-size: 120%;
    padding-left: 1vw;
    padding-top: 1vh;
    color: darkred;
    background-color: #d97c7c;
}