body {
    background-color: #1DA1F2;
}

.userTable {
    position: absolute;
    height: 40vh;
    top: 5vh;
    width: 20vw;
    left: 2vw;
    color: #F5F8FA;
    background-color: #657786;
}

.messageTable {
    position: absolute;
    height: 70vh;
    top: 5vh;
    width: 60vw;
    left: 25vw;
    color: #F5F8FA;
    background-color: #657786;
}

.messageBox {
    position: absolute;
    top: 80vh;
    width: 60vw;
    left: 25vw;
}

.chatBody {
    background-color: #F5F8FA;
    color: #14171A;
}

.gameLinks {
    position: absolute;
    height: 35vh;
    top: 50vh;
    width: 20vw;
    left: 2vw;
    color: #F5F8FA;
    background-color: #657786;
}

.submitMessage {
    position: absolute;
    top: 83vh;
    height: 4.7vh;
    left: 86vw;
    background-color: #14171A;
    color: #F5F8FA;
}

.goffice {
    position: absolute;
    left: 87vw;
    top: 5vh;
    width: 7vw;
    height: 5vh;
    font-size: 100%;
    background-color: #14171A;
    color: #F5F8FA;
    border-color: #14171A;
}

.goffice:hover {
    background-color: #F5F8FA;
    border-color: #F5F8FA;
    color: #14171A;
    height: 7vh;
    font-size: 120%;
}

.goffice:active {
    background-color: #F5F8FA;
    border-color: #F5F8FA;
    color: #14171A;
}

.logo {
    text-align: center;
}