
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Work Map</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="refresh" content="4"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link th:href="@{/css/discord.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
    <input id="rooms" type="hidden" th:value="${rooms}"/>
    <div id="ppl1" class="room1PPl" style="top: 10vh">sex</div>
    <div id="ppl2" class="room2PPl" style="top: 10vh">sex</div>
    <div id="ppl3" class="room3PPl" style="top: 10vh">sex</div>
    <div id="ppl4" class="room4PPl" style="top: 10vh">sex</div>
    <div id="ppl5" class="room5PPl" style="top: 30vh">sex</div>
    <div id="ppl6" class="room6PPl" style="top: 65vh">sex</div>
    <div id="ppl7" class="room7PPl" style="top: 65vh">sex</div>
    <div id="ppl8" class="room8PPl" style="top: 65vh">sex</div>
    <div id="ppl9" class="room9PPl" style="top: 65vh">sex</div>
    <div id="ppl10" class="room10PPl" style="top: 65vh">sex</div>

    <script type="text/javascript">

        function drawRooms() {
            var rooms = document.getElementById("rooms").value;
            var listRooms = rooms.split`, `;
            // var theRemovedElement = rooms.shift();
            // var theRemovedElement = rooms.pop();

            // console.log(rooms);
            // for (var s in rooms) {
            //     console.log(s);
            // }
            console.log(listRooms);
            document.getElementById("ppl1").innerHTML = listRooms[1];
            document.getElementById("ppl2").innerHTML = listRooms[2];
            document.getElementById("ppl3").innerHTML = listRooms[3];
            document.getElementById("ppl4").innerHTML = listRooms[4];
            document.getElementById("ppl5").innerHTML = listRooms[5];
            document.getElementById("ppl6").innerHTML = listRooms[6];
            document.getElementById("ppl7").innerHTML = listRooms[7];
            document.getElementById("ppl8").innerHTML = listRooms[8];
            document.getElementById("ppl9").innerHTML = listRooms[9];
            document.getElementById("ppl10").innerHTML = listRooms[10];
        }

        drawRooms();
    </script>


    <style>
        .square {
            height: 50px;
            width: 50px;
            background-color: #555;
        }
    </style>

    <style>
        .circle {
            height: 50px;
            width: 50px;
            background-color: #555;
            border-radius: 50%;
        }
    </style>

</head>

<body>

<div class="room1"><a th:href="@{/codelorians-discord (id=1)}">Conference Room 1</a></div>

<div class="room2"><a th:href="@{/codelorians-discord (id=2)}">Conference Room 2</a></div>

<div class="room3"><a th:href="@{/codelorians-discord (id=3)}">Kitchen</a></div>

<div class="room4"><a th:href="@{/codelorians-discord (id=4)}">Game Room 1</a></div>

<div class="room5"><a th:href="@{/codelorians-discord (id=5)}">Game Room 2</a></div>

<div class="room6"><a th:href="@{/codelorians-discord (id=6)}">Cosmin's Room</a></div>

<div class="room7"><a th:href="@{/codelorians-discord (id=7)}">Andrei's Room</a></div>

<div class="room8"><a th:href="@{/codelorians-discord (id=8)}">Adi's Abode</a></div>

<div class="room9"><a th:href="@{/codelorians-discord (id=9)}">Extra Employee Room 1</a></div>

<div class="room10"><a th:href="@{/codelorians-discord (id=10)}">Extra Employee Room 2</a></div>

<div class="muteButton"><a th:href="@{/codelorians-discord (id=101)}">Mute</a></div>
<div class="unmuteButton"><a th:href="@{/codelorians-discord (id=102)}">Unmute</a></div>
<div class="deafenButton"><a th:href="@{/codelorians-discord (id=103)}">Deafen</a></div>
<div class="undeafenButton"><a th:href="@{/codelorians-discord (id=104)}">Undeafen</a></div>

</body>

</html>